$primaryColor: #00BFA5;
$primaryTextColor: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    background-color: $primaryColor;
    color: $primaryTextColor;
    padding: 15px;
    height: 50px;
    line-height: 20px;
    min-width: 200px;
    text-align: center;
    cursor: pointer;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    transition: background-color .2s, color .2s;

    &:hover {
        background-color: $primaryTextColor;
        color: $primaryColor;
    }

    @media(max-width: 768px) {
        width: 100%;
    }
}

.form-container {
    text-align: center;

    form {
        padding: 30px;    
        display: inline-block;
        max-width: 1000px;
        width: 100%;

        h1 {
            margin: 15px 0;
        }

        .error {
            font-size: 1.5em;
            color:#F44336;
            margin: 15px 0;
        }

        .field {
            width: 100%;
            display: flex;
            padding: 15px 0;
            height: 50px;
            align-items: center;
            justify-items: center;
            border-bottom: 1px solid #333;
        
            label {
                flex-basis: 45%;
                text-align: right;
                padding: 0 15px;
                height: 100%;
                line-height: 20px;
            }

            input {
                flex-basis: 55%;
                height: 100%;
                line-height: 50px;
                font-size: 1.2em;
                border: none;
                outline: none;
                cursor: text;
            }
        }

        [type="submit"] {
            background: $primaryColor;
            color: white;
            font-size: 1.2em;
            height: 50px;
            border: none;
            line-height: 50px;
            width: 100%;
            margin: 50px 0;
            cursor: pointer;

            &:hover {
                background: darken($primaryColor, 20%);
            }
        }
    }
}